[Desktop Entry]
Name=Cron-Insta
Comment=Editor literario Local-First
Exec=/home/alex/Documentos/GitHub/cronista/cron-insta.sh
Icon=/home/alex/Documentos/GitHub/cronista/static/favicon.png
Terminal=false
Type=Application
Categories=Office;WordProcessor;
Keywords=writing;novel;editor;markdown;
StartupWMClass=cron-insta
